*{margin: 0;padding: 0}

.tble {
    max-height: 82vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

.tble::-webkit-scrollbar-track {
    background: #999999;
    width: 3px;
    border-radius: 4px !important;
}

.tble::-webkit-scrollbar {
    background: #29837e;
    width: 6px !important;
    border-radius: 4px !important;
}

.tble::-webkit-scrollbar-thumb {
    background: #464646;
    border-radius: 4px !important;
    width: 5px;
}

.tble::-webkit-scrollbar {
    width: 21px;
    background: #e9e9e9;
    color: #e13535;
}

.tble::-webkit-scrollbar-thumb {
    color: #000;
    width: 3px;
}

.sku-x {
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.url-sku.sku-x {
    width: 51%;
    height: 35px;
    font-size: 0.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    overflow: hidden;
    align-items: center;
    padding: 0 20px;
    display: inline-flex;
    justify-content: end;
}

.stt-sku.sku-x {
    width: 40px;
}

.tr-sku {
    display: flex;
    /* justify-content: space-between; */
}

.tr-sku:nth-child(even) {
    background: #f2f2f2;
}

li.ant-menu-submenu.ant-menu-submenu-inline {
    border-bottom: 1px solid;
}

.title-col {
    padding: 0px 5px;
    text-align: center;
    color: #fff;
    background: #343a40;
    font-weight: 400;
    font-size: 1rem;
    font-family: monospace;
}

.h-56 {
    height: 6vh;
}

.grid-tag {
    grid-row: 1 / 4;
    margin: 10px 5px;
    background: #fff;
    border-radius: 5px;
    border: 5px solid #343a406e;
    box-sizing: border-box;
}

.d-grid {
    display: grid;
    min-height: 94vh;
    background: #d7d7d7;
    padding: 0 5px;
}

.b-fileDesign {
    font-size: 1rem;
    letter-spacing: 1px;
}

.ctn-themlink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed #dfdfdf;
    margin-top: 6px;
    padding: 5px;
}

.nav-link.cp {
    cursor: pointer;
}
html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}